html,
body {
    background-color: #ffffff;
    color: #0083bf;
    height: 100%;
    margin: 0;
}
 
.nav-link {
    color: #0083bf !important;
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.nav-item-select:hover, .active {
    padding-bottom: 0px;
    border-bottom: 2px solid #0083bf !important;
}

.primary-text {
    color: #0083bf;
}

.secondary-text {
    color: #696666;
}

.landing-card {
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.landing-card-image {
    object-fit: contain;
}

.btn-default {
    background-color: #0083bf;
    color:#ffffff;
    border-color: #057cb3;
}
 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    background-color: #12a1e4;
    color:#ffffff;
    border-color: #0482bd;
}

.bg-light-2 {
    background-color: #ffffff;
}

.inverse-text {
    color: #ffffff;
}

a:hover {
    text-decoration: none !important;
}

.content {
    min-height: 100%;
    width: 100%;
}

.content-inside {
    width: 100%;
}

.pet-name {
    text-transform: uppercase;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
}

.return,
.return:hover,
.return:visited,
.return:active {
    color: inherit;
    text-decoration: underline;
}

.navbar {
    background-color: #ffffff !important;
}
