html,
body {
    background-color: #323A45;
    color: #323A45;
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.nav-item-select:hover, .active {
    padding-bottom: 0px;
    border-bottom: 2px solid #323A45;
}

.primary-text {
    color: #323A45;
}

.secondary-text {
    color: #FFFFF9;
}

.card {
    border: none;
}

a:hover {
    text-decoration: none !important;
}
