html,
body {
    background-color: #323A45;
    color: #323A45;
    height: 100%;
    margin: 0;
}
  
.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.nav-item-select:hover, .active {
    padding-bottom: 0px;
    border-bottom: 2px solid #323A45;
}

.primary-text {
    color: #323A45;
}

.secondary-text {
    color: #FFFFF9;
}

.card {
    border: none;
}

.landing-card {
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.landing-card-image {
    object-fit: contain;
}

.btn-default {
    background-color: #323A45;
    color:#FFF;
    border-color: rgb(42, 48, 56);
}
 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
    background-color: rgb(69, 80, 97);
    color:#FFF;
    border-color: rgb(45, 50, 56);
}

.bg-light-2 {
    background-color: #FFFFF9;
}

.inverse-text {
    color: #FFFFF9;
}

a:hover {
    text-decoration: none !important;
}

.content {
    min-height: 100%;
    width: 100%;
}

.content-inside {
    width: 100%;
}

.pet-name {
    text-transform: uppercase;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
}
